html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Bungee Outline', cursive;
}

.panels-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panels {
  width: 80%;
  height: 600px;
  display: flex;
  border: 10px solid #fff;
}

.panel {
  height: 100%;
  flex: 1;
  transition: flex 0.5s ease-in-out;
  border-right: 10px solid #fff;
}

.panel:nth-child(3) {
  border-right: 0;
}

.first {
  background: url(./assets/apple/macbook3.jpg) center center no-repeat;
}

.second {
  background: url(./assets/apple/iphone.jpg) center center no-repeat;
}

.third {
  background: url(./assets/apple/apple_watch.jpg) center center no-repeat;
}

.first,
.second,
.third {
  background-size: cover;
}

.zoom-in {
  flex: 6;
}

.instruction {
  color: #fff;
  text-align: center;
}

@media all and (max-width: 768px) {
  .panels {
    width: 95%;
    flex-direction: column;
    border: 5px solid #fff;
    border-right: 0;
  }
  .panel {
    width: 100%;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
  }
  .panel:nth-child(3) {
    border-right: 5px solid #fff;
    border-bottom: 0;
  }
  .first {
    background: url(./assets/apple/macbook3-600.jpg) center center no-repeat;
  }
  .second {
    background: url(./assets/apple/iphone-600.jpg) center center no-repeat;
  }
  .third {
    background: url(./assets/apple/apple_watch-600.jpg) center center no-repeat;
  }
}
