/* 
  Game container: #333333
  Snake: #ffffff
  Food: #ff234f
*/

.game-container {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  border: 10px solid purple;
}

.cell {
  width: 30px;
  height: 30px;
  background: #333333;
  border: 1px solid #333333;
}

.snake {
  background: #ffffff;
}

.food {
  background: #ff234f;
}

.head {
  background: green;
}
