body {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.header-container {
  background-color: #363636;
  height: 200px;
  padding: 20px;
}

.header-container h1,
.header-container p {
  color: #fff;
  font-weight: bold;
}

.form-group label {
  font-weight: bold;
}

/* Logo card */
.logo-card {
  height: 100%;
  background-color: #f4efea;
  border-radius: 15px;
}

.logo-icon {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  background-color: #7d141d;
  margin-right: 10px;
}

.logo-icon h1 {
  font-size: 4.5rem;
  color: #f4efea;
}

.brand-name p {
  color: #7d141d;
  font-size: 3.5rem;
}

@media all and (max-width: 768px) {
  .header-container {
    padding: 15px;
  }
  .logo-card {
    height: 300px;
  }
}

@media all and (max-width: 576px) {
  .logo-card {
    height: 200px;
  }
  .logo-icon {
    width: 70px;
    height: 70px;
    margin-right: 10px;
  }
  .logo-icon h1 {
    font-size: 3rem;
  }
  .brand-name p {
    font-size: 2rem;
  }
}
